<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Story Yes or Yes</title>
    <link rel="shortcut icon" href="https://res.sui.com/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>

<body class="yoy-body">
    <!---login form-->
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="card p-6 yoy-login-box">
                    <h1 class="title has-text-centered">
                        <img src="./images/logo3.png" width="200">
                    </h1>
                    <template>
                        <section>
                            <b-field label="Username" message="This username is available">
                                <b-input maxlength="30" v-model="username"></b-input>
                            </b-field>

                            <b-field label="Password">
                                <b-input type="password" v-model="password" password-reveal>
                                </b-input>
                            </b-field>
                            <div class="mt-5">
                                <b-button type="is-primary" expanded @click="login">Login</b-button>
                            </div>
                        </section>
                    </template>
                </div>
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <script src="./javascripts/login.js"></script>
</body>

</html>