h3 {
  width: 100%;
  padding-bottom: 20px;
  color: #312f2c;
  border-bottom: 1px solid #eaeaec;
  font-family: "helvetica neue", "arial", "hiragino sans gb",
    "wenquanyi micro hei";
}
.heading {
    font-family: "helvetica neue", "arial", "hiragino sans gb",
    "wenquanyi micro hei";
  
}
