.navbar-item img {
    max-height: 100%;
    width: 120px;
}

.yoy-report-section {
    background: url(./../images/bg.png) no-repeat;
}

.yoy-report-content {
    background-color: #fff;
}

.content p {
    border-bottom: 2px solid hsl(212, 90%, 47%);
    padding-bottom: 4px;
}

.menu {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}